<section class="footer">
    <div class="footer-content">
      <div class="contact">
        <h4>Contact Us</h4>
        <p>(312) 864-9349</p>
        <p>chefs@inkoknito.com</p>
      </div>
      <div class="slogan">
        <p>We curate joyous core memories by importing an entire fine dining ecosystem.</p>
        <div class="logo">Inkoknito</div>
      </div>
      <div class="signup">
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Last Name" />
        <input type="email" placeholder="Email Address" />
        <button>Sign Up</button>
      </div>
    </div>
  </section>
  <script src="/js/script.js"></script>
  <!-- Bootstrap JS Bundle (including Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>